
/* Set up horizontal sub menu */
/* @media only screen and (min-width: 1024px) {
    .genesis-nav-menu li a:hover {
        text-decoration: none;
    }

    .genesis-nav-menu > li:hover > a,
    .genesis-nav-menu > li > a:hover {
        color: #106ccc;
    }

    .genesis-nav-menu .sub-menu {
        right: 0;
        width: 100%;
        padding-left: calc(50vw - (75%/2) ); 
        border-top: none;
        background-color: #106ccc;
        font-size: 0.001px; 
    }

    .genesis-nav-menu .sub-menu a {
        border: none;
        color: #fff;
		background-color: transparent;
		max-width: 300px;
    }

    .genesis-nav-menu .sub-menu a:hover {
        background-color: #0c539d;
    }  */
/* End of horizontal sub menu */

/* adjustable by count */
/* Ref: https://alistapart.com/article/quantity-queries-for-css */
/* table layout if there are less than 6 items */

/* .genesis-nav-menu .sub-menu ul {
	display: table;
	table-layout: fixed;
	width: 100%;
	text-align: center;
	background: #333;
  }
  
  .genesis-nav-menu .sub-menu li {
	list-style: none;
	display: table-cell;
	vertical-align: middle;
	background: #333;
  }
  
  .genesis-nav-menu .sub-menu li + .sub-menu li {
	border-left: 2px solid #000;
  }
  
  .genesis-nav-menu .sub-menu a {
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 0.75em 1em;
	font-size: 1.25em;
  }
  
  .genesis-nav-menu .sub-menu a:hover, 
  .genesis-nav-menu .sub-menu a:focus {
	text-decoration: underline;
  } */
  
  /* inline-block (wrapping) layout if there are 6 or more items */
  
  /* .genesis-nav-menu  li:nth-last-child(n+7), 
  .genesis-nav-menu  li:nth-last-child(n+7) ~ * {
	display: inline-block;
	border: 0;
  }
  
  .genesis-nav-menu  li:nth-last-child(n+7) a, 
  .genesis-nav-menu  li:nth-last-child(n+7) ~ * a {
	display: inline-block;
	border: 0;
  } */
/* End of adjustable by count */

/* } */


